.blog-title{
  margin-bottom: 31px;
  background: #f2f2f2;
  text-align: right;
}
.blog-title__wrap{
  max-width: 1000px;
  height: 151px;
  padding: 40px 15px 0;
  margin: 0 auto;
  background: no-repeat center;
}
.blog-title h1{
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
}
.blog-title a{
  display: inline-block;
  padding-bottom: 22px;
  color: #000;
  font-size: 20px;
  text-decoration: underline;
}
.blog-title a:hover{
  text-decoration: none;
}

@media (min-width: $desktop) {

  .blog-title__wrap {
    padding: 38px 13px 0;
  }
}