/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #0065c4;
$btn-back-hover: #449aea;
$btn-back-active: #449aea;
$btn-color: #fff;
$btn-color-active: #fff;

$btn-2-back: #fff;
$btn-2-color: #000;
$btn-2-back-hover: #ccc;
/*---------- /btn ---------*/