.header__control {
  position: relative;
  height: 34px;
  padding-top: 9px;
  padding-left: 5px;
  border-left: 1px solid #606060;
  z-index: 10;
}
.header__control > * {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 14px;
  background: url('../img/icons-header.png') no-repeat 0 0;
  @include oneEvent(opacity);

  &:hover{
    opacity: .7;
  }

}
.header__control-search{
  background-position: 0 0;
}
.header__control-authorization{
  background-position: -38px 0;
}
